<section>
  <%= if @not_found do %>
    Not found
  <% else %>
    <p>Authored by <%= @bin.author %>, sent by <%= @bin.sender%>. View count: <%= @bin.view_count %></p>
    <pre><code><%= @bin.text %></code></pre>
  <% end %>
</section>
