<section>
  <h1><%= gettext "Welcome to %{name}!", name: "Spellpaste"%></h1>
  <p>Foo bar baz</p>

  <%= for message <- @messages do %>
    <div style="border-style: dotted;">
      <p>text: <%= message.text %></p>
      <p>author: <%= message.from.username%></p>
    </div>
  <% end %>
</section>
